@using WebsiteBanGiay.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<Giay>
@{
    ViewBag.Title = "XemThem";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<!--content-->
<div class="content">
    <div class="container">
        <div class="women-in">
            <div class="col-md-9 col-d">
                <div>
                    <div class="content">
                        <div class="container">
                            <div class="women-in">
                                <div class="col-md-9 col-d">
                                    <div class="in-line">
                                        <div class="para-an">
                                            <h3 style="text-transform: uppercase">@ViewBag.TB</h3>
                                            <br />
                                        </div>
                                        <div class="lady-in">
                                            @foreach (var item in Model)
                                            {
                                                <div class="col-md-4 you-para">
                                                    <a href="@Url.Action("XemChiTiet","LocWebsite", new {@magiay = item.MaGiay })"><img class="img-responsive pic-in" src="@Url.Content("~/HinhAnh/Giay/"+item.HinhAnhGiay)" alt=" " style="height: 200px"></a>
                                                    <div class="you-in">
                                                        <span>@item.GiamGia<label>%</label></span>
                                                        <small>giảm giá</small>
                                                    </div>
                                                    <p>@item.TenGiay</p>
                                                    <span><b style="color: brown;">@item.GiaTien VNĐ</b> | <label class="cat-in"> </label> <a href="@Url.Action("Themvaogio", "GioHang", new { @maGiay = item.MaGiay })">Thêm vào giỏ hàng </a></span>
                                                </div>
                                            }
                                            <div class="clearfix"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 45%">
                        @Html.PagedListPager(Model, Page => Url.Action("TimKiemTK", new { Page = Page }))
                    </div>
                </div>
                <!---->
                <div class="in-line">
                    <div class="para-an">
                        <h3>ĐANG GIẢM GIÁ</h3>
                        <p>Các sản phẩm giảm giá</p>
                    </div>
                    @Html.Action("SanPhamGiamGia", "LocWebsite")
                </div>
                @Html.Action("DanhMucSanPham", "LocWebsite")
            </div>
            <div class="col-md-3 col-m-left">
                <div style="text-align: center; font-size: 25px; color: #4267b2; font-weight:bold">DANH MỤC SẢN PHẨM</div>
                <div class="twitter-in" style="background-color: #f6f6f4 !important">
                    @Html.Action("DanhSachDanhMuc", "LocWebsite")
                    @Html.Action("HangMoiVe", "LocWebsite")
                    @Html.Action("HangBanChay", "LocWebsite")
                </div>
               
            </div>
            <div class="clearfix"> </div>
        </div>
        <!---->
        
    </div>
</div>
<!---->
